package main

import (
    "time"
)



templ home() {
    <header>
        <h1>Good { getGreeting(time.Now()) }</h1>
        @button("Add Task")
    </header>
}

templ button(text string){
    <button>{ text }</button>
}


func getGreeting(t time.Time) string {
    hour := t.Hour()
    if hour < 12 {
        return "Morning"
    } else if hour < 18 {
        return "Afternoon"
    } else {
        return "Evening"
    }
}